<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>
<body>
  In my life, I used the following web search engines:<br />
  <a href="//www.yahoo.com">Yahoo!</a><br />
  <a href="//www.altavista.com">AltaVista</a><br />
  <a href="//www.google.com">Google</a><br />
</body>
<script src="closures.js"></script>
