﻿@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.JobStatus.Status[0].JobId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobStatus.Status[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobStatus.Status[0].Floor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobStatus.Status[0].RoomTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobStatus.Status[0].Status)
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.JobStatus.Status)
            {
                string color;
                switch (item.StatusId)
                {
                    case 1:
                        color = "green";
                        break;
                    case 2:
                        color = "white";
                        break;
                    case 3:
                        color = "yellow";
                        break;
                    case 4:
                        color = "orange";
                        break;
                    default:
                        color = "lightgray";
                        break;
                };
                <tr style="background-color: @color">
                    <td>
                        @Html.DisplayFor(modelItem => item.JobId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Floor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @if (item.StatusId == 3 || item.StatusId == 4)
                        {
                            <button type="submit" asp-page-handler="delete" asp-route-id="@item.JobId">Complete Job</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>